{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}TeamUp{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'core/images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'core/css/libs.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'core/vendor/remixicon/fonts/remixicon.css' %}"
    />
    <link rel="stylesheet" href="{% static 'core/css/socialv.css' %}" />

    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'core/partials/header.html' %}

    <div class="container">{% block content %}{% endblock %}</div>

    {% include 'core/partials/footer.html' %}

    <script src="{% static 'core/js/libs.min.js' %}"></script>
    <script src="{% static 'core/js/app.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
