{% extends 'base.html' %}
{% load static %}
{% load user_extras %}

{% block title %}{{ profile_user.username }}'s Profile - TeamUp{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body profile-page p-0">
          <div class="profile-header">
            <div class="position-relative">
              <img
                src="{% static 'assets/images/page-img/profile-bg1.jpg' %}"
                alt="profile-bg"
                class="rounded img-fluid"
              />
            </div>
            <div class="user-detail text-center mb-3">
              <div class="profile-img position-relative">
                {% if user_profile and user_profile.avatar %}
                <img
                  src="{{ user_profile.avatar.url }}"
                  alt="profile-img"
                  class="avatar-130 img-fluid rounded-circle"
                  style="object-fit: cover; width: 130px; height: 130px;"
                />
                {% else %}
                <img
                  src="{% static 'assets/images/user/default-avatar.jpg' %}"
                  alt="profile-img"
                  class="avatar-130 img-fluid rounded-circle"
                  style="object-fit: cover; width: 130px; height: 130px;"
                />
                {% endif %}
                {% if is_own_profile %}
                <a href="{% url 'users:edit_profile' %}" 
                   title="Edit Profile" 
                   class="bg-primary rounded-circle d-flex align-items-center justify-content-center"
                   style="position: absolute; top: 0; right: calc(50% - 65px); width: 32px; height: 32px; cursor: pointer;">
                  <i class="ri-pencil-line text-white"></i>
                </a>
                {% endif %}
              </div>
              <div class="profile-detail">
                <h3 class="">{% if user_profile %}{{ user_profile.full_name|default:profile_user.username }}{% else %}{{ profile_user.username }}{% endif %}</h3>
              </div>
            </div>
            <div class="profile-info p-3 d-flex align-items-center justify-content-between position-relative">
              <div class="social-links">
                <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                  <li class="text-center pe-3">
                    <a href="#"><img src="{% static 'assets/images/icon/08.png' %}" class="img-fluid rounded" alt="facebook" style="opacity: 0.3; pointer-events: none;"></a>
                  </li>
                  <li class="text-center pe-3">
                    <a href="#"><img src="{% static 'assets/images/icon/09.png' %}" class="img-fluid rounded" alt="Twitter" style="opacity: 0.3; pointer-events: none;"></a>
                  </li>
                  <li class="text-center pe-3">
                    <a href="#"><img src="{% static 'assets/images/icon/10.png' %}" class="img-fluid rounded" alt="Instagram" style="opacity: 0.3; pointer-events: none;"></a>
                  </li>
                  <li class="text-center pe-3">
                    <a href="#"><img src="{% static 'assets/images/icon/11.png' %}" class="img-fluid rounded" alt="Google plus" style="opacity: 0.3; pointer-events: none;"></a>
                  </li>
                  <li class="text-center pe-3">
                    <a href="#"><img src="{% static 'assets/images/icon/12.png' %}" class="img-fluid rounded" alt="You tube" style="opacity: 0.3; pointer-events: none;"></a>
                  </li>
                  <li class="text-center md-pe-3 pe-0">
                    <a href="#"><img src="{% static 'assets/images/icon/13.png' %}" class="img-fluid rounded" alt="linkedin" style="opacity: 0.3; pointer-events: none;"></a>
                  </li>
                </ul>
              </div>
              <div class="social-info">
                <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                  <li class="text-center ps-3">
                    <h6>Sessions Created</h6>
                    <p class="mb-0">{{ sessions_created }}</p>
                  </li>
                  <li class="text-center ps-3">
                    <h6>Sessions Joined</h6>
                    <p class="mb-0">{{ sessions_joined }}</p>
                  </li>
                  <li class="text-center ps-3">
                    <h6>Friends</h6>
                    <p class="mb-0">0</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-0">
          <div class="user-tabing">
            <ul class="nav nav-pills d-flex align-items-center justify-content-center profile-feed-items p-0 m-0">
              <li class="nav-item col-12 col-sm-3 p-0">
                <a
                  class="nav-link active m-2"
                  href="#pills-about-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#about"
                  role="button"
                  >About</a
                >
              </li>
             
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
       
          <div class="tab-pane fade show active" id="about" role="tabpanel">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <ul class="nav nav-pills basic-info-items list-inline d-block p-0 m-0">
                      <li>
                        <a
                          class="nav-link active"
                          href="#v-pills-basicinfo-tab"
                          data-bs-toggle="pill"
                          data-bs-target="#v-pills-basicinfo-tab"
                          role="button"
                          >Contact and Basic Info</a
                        >
                      </li>
                      {% if interested_sports %}
                      <li>
                        <a
                          class="nav-link"
                          href="#v-pills-sports-tab"
                          data-bs-toggle="pill"
                          data-bs-target="#v-pills-sports"
                          role="button"
                          >Sports & Interests</a
                          >Feedback</a
                        >
                      </li>
                      <li>
                        <a
                          class="nav-link"
                          href="#v-pills-family"
                          data-bs-toggle="pill"
                          data-bs-target="#v-pills-family"
                          role="button"
                          
                          >Feedback</a
                        >
                      </li>
                      {% endif %}
                      {% if availability_patterns %}
                      <li>
                        <a
                          class="nav-link"
                          href="#v-pills-availability-tab"
                          data-bs-toggle="pill"
                          data-bs-target="#v-pills-availability"
                          role="button"
                          >Availability</a
                        >
                      </li>
                      {% endif %}
                      {% if user_profile and user_profile.bio %}
                      <li>
                        <a
                          class="nav-link"
                          href="#v-pills-about-tab"
                          data-bs-toggle="pill"
                          data-bs-target="#v-pills-about"
                          role="button"
                          >About Me</a
                        >
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                  <div class="col-md-9 ps-4">
                    <div class="tab-content">
                      <div
                        class="tab-pane fade active show"
                        id="v-pills-basicinfo-tab"
                        role="tabpanel"
                        aria-labelledby="v-pills-basicinfo-tab"
                      >
                        <h4>Contact Information</h4>
                        <hr />
                        <div class="row">
                          <div class="col-3">
                            <h6>Email</h6>
                          </div>
                          <div class="col-9">
                            <p class="mb-0">{{ profile_user.email }}</p>
                          </div>
                          {% if user_profile and user_profile.phone %}
                          <div class="col-3">
                            <h6>Mobile</h6>
                          </div>
                          <div class="col-9">
                            <p class="mb-0">{{ user_profile.phone }}</p>
                          </div>
                          {% endif %}
                          {% if user_profile %}
                            {% if user_profile.city or user_profile.country %}
                            <div class="col-3">
                              <h6>Location</h6>
                            </div>
                            <div class="col-9">
                              <p class="mb-0">
                                {% if user_profile.city %}{{ user_profile.city }}{% if user_profile.country %}, {% endif %}{% endif %}
                                {% if user_profile.country %}{{ user_profile.get_country_display }}{% endif %}
                              </p>
                            </div>
                            {% endif %}
                          {% endif %}
                        </div>
                        
                        <h4 class="mt-3">Basic Information</h4>
                        <hr />
                        <div class="row">
                          {% if user_profile and user_profile.first_name %}
                          <div class="col-3">
                            <h6>First Name</h6>
                          </div>
                          <div class="col-9">
                            <p class="mb-0">{{ user_profile.first_name }}</p>
                          </div>
                          {% endif %}
                          
                          {% if user_profile and user_profile.last_name %}
                          <div class="col-3">
                            <h6>Last Name</h6>
                          </div>
                          <div class="col-9">
                            <p class="mb-0">{{ user_profile.last_name }}</p>
                          </div>
                          {% endif %}
                          
                          {% if user_profile and user_profile.date_of_birth %}
                          <div class="col-3">
                            <h6>Birth Date</h6>
                          </div>
                          <div class="col-9">
                            <p class="mb-0">{{ user_profile.date_of_birth|date:"F j, Y" }}</p>
                          </div>
                          {% endif %}
                          
                          {% if user_profile and user_profile.age %}
                          <div class="col-3">
                            <h6>Age</h6>
                          </div>
                          <div class="col-9">
                            <p class="mb-0">{{ user_profile.age }} years</p>
                          </div>
                          {% endif %}
                          
                          {% if user_profile and user_profile.gender %}
                          <div class="col-3">
                            <h6>Gender</h6>
                          </div>
                          <div class="col-9">
                            <p class="mb-0">{{ user_profile.get_gender_display }}</p>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                      
                      <div
                        class="tab-pane fade"
                        id="v-pills-sports"
                        role="tabpanel"
                        aria-labelledby="v-pills-sports-tab"
                      >
                        <h4 class="mb-3">Sports & Interests</h4>
                        <hr />
                        {% if interested_sports %}
                        <div class="row g-3">
                          {% for sport in interested_sports %}
                          <div class="col-md-6">
                            <div class="card border">
                              <div class="card-body p-3">
                                <div class="d-flex align-items-center">
                                  <span class="fs-1 me-3">{{ sport.emoji }}</span>
                                  <div>
                                    <h6 class="mb-1">{{ sport.name }}</h6>
                                    <small class="text-muted">{{ sport.get_category_display }}</small>
                                    {% if sport.description %}
                                    <p class="mb-0 mt-1 small">{{ sport.description }}</p>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                        {% endif %}
                        
                        {% if user_profile and user_profile.availability %}
                        <h4 class="mt-3">Availability</h4>
                        <hr />
                        <div class="row">
                          <div class="col-12">
                            <p>{{ user_profile.availability }}</p>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                      
                      <div
                        class="tab-pane fade"
                        id="v-pills-family"
                        role="tabpanel"
                        aria-labelledby="v-pills-family-tab"
                      >
                      {% include 'feedback/user_summary.html' %}
                      </div>
                      
                      <div
                        class="tab-pane fade"
                        id="v-pills-work-tab"
                        role="tabpanel"
                        aria-labelledby="v-pills-work-tab"
                      >
                        <h4 class="mb-3">Work</h4>
                        <hr />
                        <p class="text-muted">No work experience added.</p>
                        
                        <h4 class="mt-3 mb-3">Professional Skills</h4>
                        <hr />
                        <p class="text-muted">No professional skills added.</p>
                        
                        <h4 class="mt-3 mb-3">Education</h4>
                        <hr />
                        <p class="text-muted">No education information added.</p>
                      </div>
                      
                      <div
                        class="tab-pane fade"
                        id="v-pills-lived-tab"
                        role="tabpanel"
                        aria-labelledby="v-pills-lived-tab"
                      >
                        <h4 class="mb-3">Current City and Hometown</h4>
                        <hr />
                        <p class="text-muted">No location information available.</p>
                        
                        <h4 class="mt-3 mb-3">Other Places Lived</h4>
                        <hr />
                        <p class="text-muted">No other places added.</p>
                      </div>
                      
                      <div
                        class="tab-pane fade"
                        id="v-pills-details-tab"
                        role="tabpanel"
                        aria-labelledby="v-pills-details-tab"
                      >
                        <h4 class="mb-3">About You</h4>
                        <hr />
                        {% if user_profile and user_profile.bio %}
                        <p>{{ user_profile.bio }}</p>
                        {% else %}
                        <p class="text-muted">No sports interests specified.</p>
                        {% endif %}
                      </div>
                      
                      <div
                        class="tab-pane fade"
                        id="v-pills-availability"
                        role="tabpanel"
                        aria-labelledby="v-pills-availability-tab"
                      >
                        <h4 class="mb-3">Availability Schedule</h4>
                        <hr />
                        {% if availability_patterns %}
                        <div class="row">
                          {% for pattern in availability_patterns %}
                          <div class="col-12 mb-3">
                            <div class="card border-start border-primary border-4">
                              <div class="card-body">
                                <div class="d-flex align-items-start">
                                  <i class="ri-time-line text-primary fs-4 me-3 mt-1"></i>
                                  <div>
                                    <h6 class="mb-1">{{ pattern.name }}</h6>
                                    <p class="mb-0 text-muted">{{ pattern.description }}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                        <div class="alert alert-info mt-3" role="alert">
                          <i class="ri-information-line me-2"></i>
                          <strong>Note:</strong> These are the general time windows when {{ profile_user.username }} is typically available for sports activities.
                        </div>
                        {% else %}
                        <p class="text-muted">No availability schedule specified.</p>
                        {% endif %}
                      </div>
                      
                      <div
                        class="tab-pane fade"
                        id="v-pills-about"
                        role="tabpanel"
                        aria-labelledby="v-pills-about-tab"
                      >
                        <h4 class="mb-3">About Me</h4>
                        <hr />
                        {% if user_profile and user_profile.bio %}
                        <div class="card bg-soft-primary">
                          <div class="card-body">
                            <p class="mb-0">{{ user_profile.bio }}</p>
                          </div>
                        </div>
                        {% else %}
                        <p class="text-muted">No bio available.</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
